*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020617;
    font-family: sans-serif;
    color: #C0C0C0;
    font-size: 2rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    body {
        flex-direction: column;
    }
}

h1 {
    margin: 20px 0;
    text-align: center;
}

.ecran {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "titre titre"
        "resultat resultat"
        "raz del";
    padding: 1rem;
    min-width: 580px;
}

#titreEcran {
    position: relative;
    background: linear-gradient(to top right, cyan, blue);
    grid-area: titre;
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: transparent;
    background-clip: text;
}

#titreEcran::after {
    position: absolute;
    content: '';
    width: 110%;
    height: 110%;
    z-index: -1;
}

#backgroundResultat {
    position: relative;
    grid-area: resultat;
    height: 5ch;
    background: linear-gradient(to bottom right, cyan 25%, blue, cyan 75%);
    border-radius: 0.5em;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resultat {
    position: relative;
    height: 95%;
    width: 99%;
    background-color: #020617;
    font-weight: bold;
    color: cyan;
    border-radius: 0.5em;
    text-align: center;
    margin: 2px;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: clip;
    overflow-clip-margin: 2px; */
}

/* #resultat::after {
    position: absolute;
    content: '';
    width: 1200px;
    height: 150px;
    background: linear-gradient(to bottom right, rgb(255, 0, 255) 25%, blue, rgb(255, 0, 255) 75%);
    opacity: 1;
    z-index: -1;
} */

.calculette {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "div mult moins plus"
        "sept huit neuf plus"
        "quatre cinq six egal"
        "un deux trois egal"
        "zero zero zero point";
    width: 400px;
}

button {
    display: block;
    padding: 1rem 2rem;
    margin: 0.3rem;
    font-size: inherit;
    background-color: #1e2035;
    color: #C0C0C0;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
    box-shadow: -1px -1px 2px #FFFFFF88,
        2px 2px 5px #000000AA;
    transition: opacity 0.2s;
}

button:hover {
    box-shadow: inset -1px -1px 1px #FFFFFF88;
    opacity: 0.8;
}

p {
    background: radial-gradient(cyan, blue);
    background-clip: text;
    color: transparent;
}

#div {
    grid-area: div;
}

#mult {
    grid-area: mult;
}

#moins {
    grid-area: moins;
}

#plus {
    grid-area: plus;
}

#egal {
    grid-area: egal;
}

#point {
    grid-area: point;
}

#raz {
    grid-area: raz;
}


#del {
    grid-area: del;
}

#zero {
    grid-area: zero;
}

#un {
    grid-area: un;
}

#deux {
    grid-area: deux;
}

#trois {
    grid-area: trois;
}

#quatre {
    grid-area: quatre;
}

#cinq {
    grid-area: cinq;
}

#six {
    grid-area: six;
}

#sept {
    grid-area: sept;
}

#huit {
    grid-area: huit;
}

#neuf {
    grid-area: neuf;
}