*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2A2A2A;
    font-family: sans-serif;
    color: #C0C0C0;
    font-size: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

.ecran {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "titre titre"
        "resultat resultat"
        "raz del";
    margin: 1rem;
    padding: 1rem;
    background-color: #020617AA;
    box-shadow: -2px -2px 5px #FFFFFF55,
        5px 5px 5px #00000055;
    border-radius: 0.3em;
    min-width: 600px;
}

#titreEcran {
    position: relative;
    grid-area: titre;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #titreEcran::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(255, 0, 255) 25%, blue, rgb(255, 0, 255) 75%);
    border-radius: 0.5em;
    filter: blur(0.1em);
    z-index: -1;
} */

#resultat {
    grid-area: resultat;
    height: 5ch;
    background-color: #2A2A2A;
    border: 1px solid #C0C0C0;
    font-size: 2rem;
    font-weight: bold;
    color: #C0C0C0;
    border-radius: 0.5em;
    text-align: center;
    margin: 10px;
    padding: 0.8rem;
}

.calculette {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "div mult moins plus"
        "sept huit neuf plus"
        "quatre cinq six egal"
        "un deux trois egal"
        "zero zero zero point";
    margin: 1rem;
    padding: 1rem;
    background-color: #020617AA;
    box-shadow: -2px -2px 5px #FFFFFF55,
        5px 5px 5px #00000055;
    border-radius: 0.3em;
    width: 400px;
}

button {
    display: block;
    padding: 1rem 2rem;
    margin: 0.3rem;
    font-size: 2rem;
    background-color: #1e293b;
    color: #C0C0C0;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
    box-shadow: -1px -1px 2px #FFFFFF88,
        2px 2px 5px #000000AA;
}

button:hover {
    background-color: #1e293bAA;
}

#div {
    grid-area: div;
}

#mult {
    grid-area: mult;
}

#moins {
    grid-area: moins;
}

#plus {
    grid-area: plus;
}

#egal {
    grid-area: egal;
}

#point {
    grid-area: point;
}

#raz {
    grid-area: raz;
}

#del {
    grid-area: del;
}

#zero {
    grid-area: zero;
}

#un {
    grid-area: un;
}

#deux {
    grid-area: deux;
}

#trois {
    grid-area: trois;
}

#quatre {
    grid-area: quatre;
}

#cinq {
    grid-area: cinq;
}

#six {
    grid-area: six;
}

#sept {
    grid-area: sept;
}

#huit {
    grid-area: huit;
}

#neuf {
    grid-area: neuf;
}